<!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="container">
            <h1>Fake News Detection</h1>
            <ul>
                <li><a href="\">Home</a></li>
                <li><a href="\about">About</a></li>
                <li><a href="\contact">Contact</a></li>
            </ul>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container">
        <section id="home">

        <section id="contact">
            <h2>Contact Us</h2>
            <div class="contact-section">
                <div class="friend">
                    <h3>Smit Shah</h3>
                    <p>Phone: + 91 7046875520</p>
                    <p>Email: smitshah22052003@gmail.com</p>
                </div>
                <div class="friend">
                    <h3>Jeet Shah</h3>
                    <p>Phone: +91 78190 99955</p>
                    <p>Email: shahjeet23042003@gmail.com </p>
                </div>
                <div class="friend">
                    <h3>Adarsh Sinha</h3>
                    <p>Phone: +91 79843 07743</p>
                    <p>Email: adarshsinha290@gmail.com </p>
                </div>
                <div class="friend">
                    <h3>Ronak Sengal</h3>
                    <p>Phone: +91 84908 60868</p>
                    <p>Email: ronak.sengal2002@gmail.com</p>
                </div>
            </div>
        </section>
    </div>

    <div class="blank-space"></div>
    
    <!-- Footer -->
    <footer class="footer">
        <p>&copy; 2023 Fake News Detection. All rights reserved.</p>
    </footer>
</body>
</html>
